# Local build artifacts
bin/
mini-container/mini-container
*.test
*.out

# env
.env

# Editor local settings
.vscode/settings.json

# Go install archives and extracted SDKs
go*.linux-amd64.tar.gz
go/


# RoadMap By AI
roadmap.md

# RootFS
rootfs/

# local study file
study/